Repository tycrek/degoogle, pull requests merged in 2020-06, with the labels that each got.

#153 Update the reddit wiki automatically using the API
  .github/workflows/build.yml
  _wiki.js
  package-lock.json
  package.json
Labels: enhancement

#157 Add Simple Calendar
  yaml/degoogle.yml
Labels: Added, new

#159 Update new-alternative.md per #131
  .github/ISSUE_TEMPLATE/fix-update-alternative.md
  .github/ISSUE_TEMPLATE/new-alternative.md
  .github/ISSUE_TEMPLATE/other.md
  .github/ISSUE_TEMPLATE/remove-alternative.md
  CONTRIBUTING.md
Labels: enhancement

#162 Add Cryptee #160
  README.md
  yaml/degoogle.yml
Labels: new
